/* layout */

*{ 
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    
    /* background-color: rgb(203, 225, 244); */
    width: 100vw;
    height:100vh;
    display: grid;
    grid-template-rows:1fr 8fr 1fr;

    background-image:url("color.png");
    background-size:cover;

}

.navbar{
    background-color: rgb(155, 125, 125);
    height: 100%;
    box-shadow:2px 2px 5px rgb(116, 61, 61)
}

section{
    /* background-color: bisque; */
    display: grid;
    justify-items: center;
}

footer{
    background-color: rgb(171, 203, 84);
}

.navbar{
    display:grid;
    grid-template-columns: 2fr 4fr;
    
    
}
.logo{
    place-self: center;
}

.logo h4{
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease;
    
}

.nav_items{
    justify-items: flex-start;
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    
}



.nav_link{
    margin: 1.5rem;
    /* background-color: rgb(177, 177, 235); */
    padding: 0.5rem;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.nav_link a{
    text-decoration: none;
    font-size:1.3em;
    font-family: sans-serif;
    font-weight: 500;
    color: whitesmoke;
}

.hero_heading{
    place-self: center;
}
 .hero_heading h1{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight:900;
    font-size: 3rem;
    transition: transform 0.3s ease;
 }

 .hero_para p{
    color: white;
    font-size: 2rem;
    
 }

 .hero_btn button{
    place-self: center;
    background-color: rgb(213, 138, 180);
    color: white;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 130px;
    font-weight: 700;
    box-shadow:2px 2px 5px rgb(116, 61, 61);
    transition: transform 0.3s ease;
    
 }

 footer{
    text-align: center;
 }
 .footer_items{
    margin: 5px;
 }

 .footer_text{
    margin: 15px;
 }

 .nav_link:hover{
    background-color: white;
    transform:scale(1.2);
 }
 .nav_link a:hover{
    background-color: white;
    color: red;
 }

 .hero_btn button:hover{
    transform:scale(1.2);
    background-color: white;
    color: rgb(199, 92, 110);
 }

 .hero_heading h1:hover{
    transform:scale(1.1);
 }

 .logo h4:hover{
    transform:scale(1.2);
 }

 .footer_items i{
    transition: transform 0.3s ease;
 }
 .footer_items i:hover{
    transform: scale(1.3);
    color: rgb(222, 54, 16);
 }

 .dropdown{
    display: none;
 }
 @media(max-width:900px){
    
    .logo h4{
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
}
.nav_items{
    display: none;
    
}
.dropdown{
    display:flex;
    justify-content: flex-end;
    height: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    

 }
.dropdown select{
    background-color: rgb(231, 12, 49);
    border: solid red;
    border-radius: 8px;
    color: white;
}

.hero_para p{
    color: white;
    font-size: 1.3rem;
    padding: 2rem;
}
.hero_heading h1{
    font-size: 1.7rem;
    padding: 2rem;
}
    
 




